<a href="https://colab.research.google.com/github/Eswa2020/Data-analysis-and-wrangling-various-projects/blob/master/Untitlesqlld15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%load_ext sql

In [ ]:
#load the sql into our  environment
%reload_ext sql
#connect to our memory sqlite database
%sql sqlite://

'Connected: @None'

In [ ]:
#import our libraries
import pandas as pd
import numpy as np

In [ ]:
#load our countries dataset
with open ('/content/Countries (4).csv','r') as f:
 countries=pd.read_csv(f,index_col=None,encoding='utf-8')
%sql DROP TABLE if EXISTS countries;
%sql PERSIST countries;
%sql SELECT * FROM countries LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[(0, 'Albania', 2.9, 'no', 'yes'),
 (1, 'Andorra', 0.07, 'no', 'no'),
 (2, 'Austria', 8.57, 'yes', 'no'),
 (3, 'Belarus', 9.48, 'no', 'no'),
 (4, 'Belgium', 11.37, 'yes', 'yes')]

In [ ]:
with open ('/content/Cities (1).csv','r') as f:
  cities=pd.read_csv(f,index_col=None,encoding='utf-8')
%sql DROP TABLE if EXISTS cities;
%sql PERSIST cities;
%sql SELECT* FROM cities LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[(0, 'Aalborg', 'Denmark', 57.03, 9.92, 7.52),
 (1, 'Aberdeen', 'United Kingdom', 57.17, -2.08, 8.1),
 (2, 'Abisko', 'Sweden', 63.35, 18.83, 0.2),
 (3, 'Adana', 'Turkey', 36.99, 35.32, 18.67),
 (4, 'Albacete', 'Spain', 39.0, -1.87, 12.62)]

Inner join to combine the tables

In [ ]:
%%sql
SELECT city,cities.country,population
FROM cities INNER JOIN countries
   ON cities.country=countries.country
WHERE latitude < 70 AND population < 7
ORDER BY cities.country

 * sqlite://
Done.

[('Elbasan', 'Albania', 2.9),
 ('Andorra', 'Andorra', 0.07),
 ('Sarajevo', 'Bosnia and Herzegovina', 3.8),
 ('Rijeka', 'Croatia', 4.23),
 ('Split', 'Croatia', 4.23),
 ('Aalborg', 'Denmark', 5.69),
 ('Odense', 'Denmark', 5.69),
 ('Tallinn', 'Estonia', 1.31),
 ('Tartu', 'Estonia', 1.31),
 ('Helsinki', 'Finland', 5.52),
 ('Oulu', 'Finland', 5.52),
 ('Tampere', 'Finland', 5.52),
 ('Turku', 'Finland', 5.52),
 ('Cork', 'Ireland', 4.71),
 ('Dublin', 'Ireland', 4.71),
 ('Galway', 'Ireland', 4.71),
 ('Daugavpils', 'Latvia', 1.96),
 ('Riga', 'Latvia', 1.96),
 ('Kaunas', 'Lithuania', 2.85),
 ('Klaipeda', 'Lithuania', 2.85),
 ('Vilnius', 'Lithuania', 2.85),
 ('Skopje', 'Macedonia', 2.08),
 ('Balti', 'Moldova', 4.06),
 ('Chisinau', 'Moldova', 4.06),
 ('Podgorica', 'Montenegro', 0.63),
 ('Bergen', 'Norway', 5.27),
 ('Bodo', 'Norway', 5.27),
 ('Oslo', 'Norway', 5.27),
 ('Stavanger', 'Norway', 5.27),
 ('Trondheim', 'Norway', 5.27),
 ('Bratislava', 'Slovakia', 5.43),
 ('Kosice', 'Slovakia', 5.43),
 ('Ljubljana', 'Slovenia', 2.07)]